# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
*.egg-info/
dist/

# Environment variables (IMPORTANT!)
.env
.env.local
.envrc

# IDE
.vscode/
.idea/
*.swp

# Jupyter
.ipynb_checkpoints/

# Data (ne pas commit les données)
data/
*.csv
*.parquet
model/


# MLflow
mlruns/
mlartifacts/
mlflow.db

# OS
.DS_Store

# Credentials Google Cloud
*.json
*.pem
*.key
*.env.yaml

# Exceptions
!pyproject.toml
!uv.lock
